<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project List</title>
    {% load static %}

    {% include 'main_linkings.html' %}

    <link rel="stylesheet" href="{% static 'css/project_list.css' %}">
    <script src="{% static 'js/project_form_validation.js' %}"></script>

</head>
<body>
    {% include 'header.html' %}
    <div class="container mt-5">
        <div class="projectlistcontainer">
        <div class="projectlistbox">
        <div class="title-box">Project List</div>

        
        {% if level <= 1 %}
            <div class="divforbutton">
                <button class="mybutton" onclick="gotocreateproject()" id="add_button" data-projadd-url="{% url 'project_create' %}">
                    <img class="add_img_icon" src="{% static 'images/plus_icon.png' %}">
                </button>
            </div>
        {% endif %}

        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Project ID</th>
                    <th>Project Name</th>
                    <th>Manager</th>
                    <th>Status</th>
                    <th>Comment</th>
                    <th>Description</th>
                    <th>Created At</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for project in projects %}
                    <tr>
                        <td>{{ project.project_id }}</td>
                        <td>{{ project.project_name }}</td>
                        <td>{{ project.manager }}</td>
                        <td>{{ project.get_status_display }}</td>
                        <td>{{ project.comment }}</td>
                        <td class="desc_td">
                            {% if project.description|length > 30 %}
                                <span class="description-preview" data-full-description="{{ project.description }}">
                                    {{ project.description|slice:":30" }}..
                                </span>
                                <div class="full-desc">
                                    {{project.description}}
                                </div>
                            {% else %}
                                {{ project.description }}
                            {% endif %}
                        </td>
                        <td>{{ project.created_at }}</td>
                        <td>
                            {% if level <= 1 %}
                                <a href="{% url 'project_update' project.project_id %}" class="btn">Update</a>
                                <a href="{% url 'project_delete' project.project_id %}" class="btn">Delete</a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        </div>
        </div>
    </div>
    {% include 'footer.html' %}

</body>
</html>