<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <title>{{ action }} Project</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/4.5.2/css/bootstrap.min.css">

    {% include 'main_linkings.html' %}
    
    <link rel="stylesheet" href="{% static 'css/departmentform.css' %}">
    <script src="{% static 'js/project_form_validation.js' %}"></script>
</head>
<body>
    {% include 'header.html' %}
    <div class="container mt-5">
        <div class="departmentformcontainer">
        <div class="departmentformbox">
        <div class="title-box">{{ action }} Project</div>
        <div class="errorbar" id="errorbox"></div>
        <form method="post" id="projectForm">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="buttons-div">
                <button type="submit" class="mybutton">{{ action }}</button>
                <button type="button" class="mybutton" onclick="gotoprojectlist()" data-projectlist-url="{% url 'project_list' %}" id="cancel_button">Cancel</button>
                {% if action != 'update' %}
                    <button type="submit" class="mybutton" name="add_new" value="true">Save and Add New</button>
                {% endif %}
            </div>
        </form>
        </div>
    </div>
    </div>
    {% include 'footer.html' %}
</body>
</html>