<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ action }} Leave</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/4.5.2/css/bootstrap.min.css">
    {% load static %}

    {% include 'main_linkings.html' %}
    <link rel="stylesheet" href="{% static 'css/leave_form.css' %}">
    <script src="{% static 'js/leave_form.js' %}"></script>
</head>
<body>
    {% include 'header.html' %}
    <div class="container mt-5">
        <div class="leaveformcontainer">
        <div class="leaveformbox">
            <div class="title-box">{{ action }} Leave </div>

        <div id="errorbox"></div>
        <form method="post" id="employeeForm">
            {% csrf_token %}
            {{ form.as_p }}

            <div class="buttons-div">
                <button type="submit" class="mybutton">{{ action }}</button>
                <button type="button" class="mybutton" onclick="gotoleavelist()" data-leavelist-url="{% url 'leave_applications' %}" id="cancel_button">Cancel</button>
            </div>
        </form>
        </div>
        <div class="additional-info">
            <h2>Remaining Leave Data</h2>
            <table>
                <thead>
                    <tr>
                        <th>Leave Type</th>
                        <th>Total</th>
                        <th>Used</th>
                        <th>Available</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Casual Leave</td>
                        <td>{{ remaining_leave_data.casual.total|floatformat:2  }}</td>
                        <td>{{ remaining_leave_data.casual.used|floatformat:2  }}</td>
                        <td>{{ remaining_leave_data.casual.available|floatformat:2  }}</td>
                    </tr>
                    <tr>
                        <td>Sick Leave</td>
                        <td>{{ remaining_leave_data.sick.total|floatformat:2  }}</td>
                        <td>{{ remaining_leave_data.sick.used|floatformat:2  }}</td>
                        <td>{{ remaining_leave_data.sick.available|floatformat:2  }}</td>
                    </tr>
                    <tr>
                        <td>Restricted Leave</td>
                        <td>{{ remaining_leave_data.restricted.total|floatformat:2  }}</td>
                        <td>{{ remaining_leave_data.restricted.used|floatformat:2  }}</td>
                        <td>{{ remaining_leave_data.restricted.available|floatformat:2  }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        </div>
    </div>
    
    {% include 'footer.html' %}
</body>
</html>


