.employeeformcontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: white;
}

.employeeformbox {
    padding: 20px;
    width: 400px;
}

.employeeformbox .title-box {
    text-align: left; 
    color: black; 
    margin-bottom: 20px;
    font-family: sans-serif;
    font-size: 18px;
    font-weight: bold;
    padding-bottom: 5px;
    border-bottom: 1px solid gray;
}

.employeeformbox p {
    margin-bottom: 12px;
    font-size: 12px;
}

.employeeformbox label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.employeeformbox input[type="text"],
.employeeformbox input[type="email"],
.employeeformbox input[type="date"],
.employeeformbox input[type="password"],
.employeeformbox select {
    width: fit-content;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 14px;
}

.employeeformbox input[type="text"]:focus,
.employeeformbox input[type="email"]:focus,
.employeeformbox input[type="date"]:focus,
.employeeformbox input[type="password"]:focus,
.employeeformbox select:focus {
    border-color: black;
    outline: none;
}



.buttons-div{
    display: flex;
    flex-direction: row;
    justify-content: right;
}
.mybutton{
    margin-left: 10px;
    border-radius: 3px;
    border: none;
    background-color: #333;
    padding: 5px;
    font-size: 14px;
    color: white;
    cursor: pointer;
}



