.employeeformcontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f4f4f4;
}

.employeeformbox {
    background-color: #ffffff;
    border-radius: 8px;
    padding: 20px;
    width: 400px;
}

.employeeformbox h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

.employeeformbox p {
    margin-bottom: 15px;
}

.employeeformbox label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #555;
}

.employeeformbox input[type="text"],
.employeeformbox input[type="email"],
.employeeformbox input[type="date"],
.employeeformbox input[type="password"],
.employeeformbox select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 14px;
}

.employeeformbox input[type="text"]:focus,
.employeeformbox input[type="email"]:focus,
.employeeformbox input[type="date"]:focus,
.employeeformbox input[type="password"]:focus,
.employeeformbox select:focus {
    border-color: #007bff;
    outline: none;
}

.employeeformbox button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 10px;
}

.employeeformbox button:hover {
    background-color: #0056b3;
}

/* .employeeformbox a {
    display: inline-block;
    width: 100%;
    text-align: center;
    padding: 10px;
    background-color: #6c757d;
    color: #ffffff;
    border-radius: 4px;
    text-decoration: none;
    margin-top: 10px;
    transition: background-color 0.3s;
} */

.employeeformbox .cancelbutton {
    background-color: #6c757d;
}
.employeeformbox .cancelbutton a{
    color: #ffffff;
    text-decoration: none;
    background-color: inherit;
}

.employeeformbox .cancelbutton:hover {
    background-color: #5a6268;
}

