.message{
    background-color: white;
    padding: 10px 30px;
    border: 1px solid gray;
    font-size: 12px;
    border-radius: 5px;
    display:flex;
    flex-direction: row;
}

.message-icon{
    margin-right: 20px;
    height: 20px;
    width: 20px;
    padding: 0px;
}

.message-icon img{
    width: 100%;
    height: 100%;
}

.message div{
    display: flex;
    align-items:  center;
    justify-content: center;
}

