/* General styles for the project list container */
.projectlistcontainer {
    padding: 20px;
    background-color: white;
    display: flex;
    justify-content: center;
}


.projectlistbox {
    background-color: white; 
    padding: 20px; /* Padding inside the box */
    margin: 20px auto; /* Center the box horizontally */
}

.projectlistbox .btn {
    margin-right: 10px; /* Space between buttons */
}

.projectlistbox .table {
    font-size: 12px;
    width: 100%; 
    border-collapse: collapse;
}

.projectlistbox .table th,
.projectlistbox .table td {
    padding: 12px; 
    text-align: left;
    border: 1px solid black;
}

.projectlistbox .table th {
    background-color: #f8f9fa;
    color: black;
    font-weight: bold;
}
.projectlistbox .table th {
    background-color: #ccc;
    color: black;
}

.projectlistbox .table tr:hover {
    background-color: #f1f1f1;
}

.projectlistbox .table a.btn {
    text-decoration: none; 
    display: inline-block;
    background-color: #555; 
    color: white;
    padding: 5px 10px; 
    border-radius: 4px;
    font-size: 14px;
    transition: background-color 0.3s; 
}

.projectlistbox .table a.btn:hover {
    background-color: gray; 
}

.projectlistbox .title-box {
    text-align: center;
    color: black;
    margin-bottom: 20px;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: bold;
    padding-bottom: 5px;
}

.projectlistbox tr:nth-child(even) {
    background-color: #f9f9f9;
}

.projectlistbox tr:hover {
    background-color: #f1f1f1;
}

.divforbutton{
    display: flex;
    justify-content: right;
    margin-bottom: 20px;
}

.mybutton{
    margin-left: 10px;
    border-radius: 3px;
    border: none;
    background-color: #333;
    padding: 5px;
    font-size: 14px;
    color: white;
    cursor: pointer;
}

.add_img_icon{
    height:10px;
    width:10px;
    margin:0px;
    padding:0px;
}

.desc_td{
    position: relative;
}


.full-desc{
    display: none;
    content: attr(data-full-description);
    position: absolute;
    left: 20%;
    top: 80%; /* Position below the text */
    background-color: #fff; /* Background color of the tooltip */
    border: 1px solid #ccc; /* Border for the tooltip */
    padding: 5px; /* Padding for the tooltip */
    z-index: 10; /* Ensure it appears above other elements */
    white-space: nowrap; /* Prevent text wrapping */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Optional shadow for better visibility */
    max-width: 300px; /* Set a max width for the tooltip */
    height:auto;
    white-space: normal;
}
.desc_td:hover .full-desc{
    display: block;
}


/* Responsive styles */
@media (max-width: 768px) {
    .projectlistbox table {
        font-size: 14px;
    }

    .projectlistbox .btn {
        font-size: 14px;
        padding: 8px 12px;
    }
}



