<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Department List</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/4.5.2/css/bootstrap.min.css">
    {% load static %}

    {% include 'main_linkings.html' %}

    <link rel="stylesheet" href="{% static 'css/departments_list.css' %}">
    <script src="{% static 'js/departments_list.js' %}"> </script>

</head>
<body>
    {% include 'header.html' %}
    <div class="container mt-5">
        <div class="departmentstablecontainer">
            <div class="departmentstablebox">
        
        <div class="title-box">Departments</div>
        {% if level <= 1 %} 
            <div class="divforbutton">
                <button class="mybutton" onclick="gotocreatedepartment()" id="add_button" data-depadd-url="{% url 'department_create' %}">
                    <img class="add_img_icon" src="{% static 'images/plus_icon.png' %}">
                </button>
            </div>
        {% endif %}
        <table class="table">
            <thead>
                <tr>
                    <th>Department Name</th>
                    <th>Description</th>
                    {% if level <= 1 %}
                        <th>Actions</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
                {% for department in departments %}
                <tr>
                    <td>{{ department.department_name }}</td>
                    <td>{{ department.description }}</td>
                    <td>
                        {% if level <= 1 %}
                        <a href="{% url 'department_update' department.department_id %}" class="btn btn-warning btn-sm">Update</a>
                        <a href="{% url 'department_delete' department.department_id %}" class="btn btn-warning btn-sm">Delete</a>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>
    </div>
    </div>
    {% include 'footer.html' %}
</body>
</html>