<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employee List</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/4.5.2/css/bootstrap.min.css">
    {% load static %}

    {% include 'main_linkings.html' %}
    
    <link rel="stylesheet" href="{% static 'css/employees_view.css' %}">
</head>
<body>
    {% include 'header.html' %}


    <div class="container mt-5">
        <div class = "employeestablecontainer">
        <div class = "employeestablebox">
            <div class="title-box">Employees</div>
        {% if level <= 1 %} 
            <div class="divforbutton">
                <button class="mybutton" onclick="gotoemployeecreate()" id="add_button" data-empadd-url="{% url 'employee_create' %}">
                    <img class="add_img_icon" src="{% static 'images/plus_icon.png' %}">
                </button>
            </div>
        {% endif %}
        <table class="table">
            <thead>
                <tr>
                    <th>Employee ID</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Status</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for employee in employees %}
                <tr>
                    <td>{{ employee.employee_id }}</td>
                    <td>{{ employee.first_name }}</td>
                    <td>{{ employee.last_name }}</td>
                    <td>{{ employee.get_status_display }}</td>

                    <td>
                        {% if level <= 1 %}

                        <a href="{% url 'employee_update' employee.employee_id %}" class="btn btn-warning btn-sm">Update</a>
                        <a href="{% url 'employee_disable' employee.employee_id %}" class="btn btn-warning btn-sm">Disable</a>
                        
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        </div>
    </div>
    </div>
    {% include 'footer.html' %}
</body>
</html>