{% load static %}
<script src="{% static 'js/logout.js' %}"></script>
<script src="{% static 'js/logo.js' %}"></script>
<script src="{% static 'js/side_bar.js' %}"></script>
<script src="{% static 'js/user_check_in.js' %}"></script>
    <header id="header">

        {% include 'message_bar.html' %}

        <div class="headermainbox rowflexbox">
            <div class="logobox">
                <div class="logoimagebox">
                    <img src="{% static 'images/yatnam_full_logo.png' %}" alt="Description of Image" class="logoimg">
                </div>
                <div class="w-full text-center mt-4">        
                    <p class="px-1 gradient-text">Employee Portal</p>
                </div>
            </div>
            <div class="headerrightbox">
                <div class="navbarrowbox rowflexbox">
                    <div class="navbarbox">
                        <nav>
                            <ul class="menu">
                                <li><a href="{% url 'home' %}" class="{% if active_title == 'Home' %}active_title{% endif %}">Home</a></li>
                                {% for operation_title, operation_items in operations.items %}
                                    <li>
                                        <a href="#" class="{% if operation_title == active_title %}active_title{% else %}not_active_title{% endif %}">{{ operation_title }}</a>
                                        {% if operation_items %}
                                            <ul class="submenu">
                                                {% for item_title, item_url in operation_items.items %}
                                                    {% if item_url %}
                                                        <li><a href="{% url item_url %}">{{ item_title }}</a></li>
                                                    {% else %}
                                                        <li><a href="#">{{ item_title }}</a></li>  <!-- Handle cases where item_url is empty --> 
                                                    {% endif %}
                                                {% endfor %}
                                            </ul>
                                        {% endif %}
                                    </li> <!-- Moved this closing tag here -->
                                {% endfor %}
                            </ul>
                        </nav>
                    </div>
                    <div class="dateTimeBox rowflexbox" id="id_date_time_desktop">
                        <div class="dateTimeIcon">
                            <img src="{% static 'images/clock_icon.png' %}">
                        </div>
                        <div class="date">
                            DD-MM-YYYY
                        </div>
                        <div class="day">
                            Monday
                        </div>
                        <div class="time">
                            00:00:00 AM
                        </div>
                    </div>
                </div>

                

                <!-- Hamburger Menu Button -->
                <div class="hamburger-menu" onclick="toggleMenu()">
                    <div class="bar"></div>
                    <div class="bar"></div>
                    <div class="bar"></div>
                </div>

                <!-- Sidebar Navigation -->
                <nav class="sidebar">
                    <ul class="sidebar-menu">
                        <li><a href="{% url 'home' %}">Home</a></li>
                        {% for operation_title, operation_items in operations.items %}
                        <li class="has-submenu">
                            <a href="#" onclick="toggleSubmenu(event)">{{ operation_title }}</a>
                                {% if operation_items %}
                                    <ul class="submenum">
                                        {% for item_title, item_url in operation_items.items %}
                                            {% if item_url %}
                                                <li><a href="{% url item_url %}">{{ item_title }}</a></li>
                                            {% else %}
                                                <li><a href="#">{{ item_title }}</a></li>  <!-- Handle cases where item_url is empty -->
                                            {% endif %}
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                        </li>
                        {% endfor %}
                    </ul>
                </nav>

                



                <div class="belowrowbox rowflexbox">
                    <div class="current_page_path rowflexbox">
                        <div class="directive_home_icon_div">
                            <img src="{% static 'images/home_icon.png' %}" class="home_icon_img">
                        </div>
                        <div class="page_path_div">Home</div>

                        {% for page_path in page_paths %}
                            <div class="page_path_div">
                                <img src="{% static 'images/right_arrow_icon.png' %}">
                                <p> {{page_path}} </p>
                            </div>
                        {% endfor %}

                    </div>
                    <div class="account_features rowflexbox" id="id_account_features_desktop">
                        <div class="checkintime" id="checkintime" data-time_update-url = "{% url 'get_total_time_worked' %}">
                            <p>00:00:00</p>
                        </div>
                        <div class="checkinbuttono">
                        <div class="checkinbutton" id="checkinbutton" data-toggle-url = "{% url 'toggle_check_in_check_out' %}" onclick="toggle_check_in_status()">
                            <div class="semi-circle-left"></div>
                            <div class="semicircle-button">CHECK IN</div>
                            <div class="semi-circle-right"></div>
                        </div>
                        <div class="notificationbox">
                            <img src="{% static 'images/bell_icon.png' %}">
                        </div>
                        <div class="accountbox">
                            <button id="id_accountbox" onclick="toggleProfileOption()" data-profile_picture-url="{% url 'profile_picture' %}">
                                <img src="{% static 'images/human_photo.jpg' %}" class="account_photo">
                                <img src="{% static 'images/down_arrow.png' %}" class="down_arrow">
                            </button>
                        </div>

                        <div class="profile_logout_option">
                            <div class="profile_case">
                                <button class="profile-button" onclick = "window.location.href='{% url 'profile_view' %}'">
                                    <div><a class="name" id="employee_name" data-emp_name-url="{% url 'getname' %}"> (User) </a><br></div>
                                    <div><a class="profile_link">Profile</a></div>
                                </button>
                            </div>

                            <div class="logout_case">
                                <button class="logout-button" id="id_logout_button" onclick="logout()" data-logout-url="{% url 'logout' %}" data-login-url="{% url 'login' %}">
                                    <div class="logout-div"><a class="logout_link">Log out</a></div>
                                </button>
                            </div>
                        </div>
                         
                    </div>
                </div>
            </div>
        </div>
            <!-- <button id="logoutButton">Logout</button>
            <div id="logoutModal" class="modal">
                <div class="modal-content">
                    <h2>Are you sure you want to logout?</h2>
                    <button id="confirmLogoutButton">Logout</button>
                    <button id="cancelButton">Cancel</button>
                </div>
            </div> --> 
    </header>

        <div class="tab-bar" id="id_date_time_tab">
            <div class="dateTimeBox rowflexbox">
                <div class="dateTimeIcon">
                    <img src="{% static 'images/clock_icon.png' %}">
                </div>
                <div class="date">
                    DD-MM-YYYY
                </div>
                <div class="day">
                    Monday
                </div>
                <div class="time">
                    00:00:00
                </div>
            </div>
            <div class="account_features rowflexbox">
                <div class="checkintime" id="checkintime2" data-time_update-url = "{% url 'get_total_time_worked' %}">
                    <p>00:00:00</p>
                </div>
                <div class="checkinbuttono">
                <div class="checkinbutton" id="checkinbutton2" data-toggle-url = "{% url 'toggle_check_in_check_out' %}"  onclick="toggle_check_in_status()">
                    <div class="semi-circle-left"></div>
                    <div class="semicircle-button">CHECK IN</div>
                    <div class="semi-circle-right"></div>
                </div>
                </div>
                <div class="notificationbox">
                    <img src="{% static 'images/bell_icon.png' %}">
                </div>
                <div class="accountbox">
                    <button id="id_accountbox" onclick="toggleProfileOption()">
                        <img src="{% static 'images/human_photo.jpg' %}" class="account_photo">
                        <img src="{% static 'images/down_arrow.png' %}" class="down_arrow">
                    </button>
                </div>
                <div class="profile_logout_option" id="plm">
                    <div class="profile_case">
                        <button class="profile-button">
                            <div><a class="name">Joyael Jose (User)</a><br></div>
                            <div><a class="profile_link">Profile</a></div>
                        </button>
                    </div>
                    <div class="logout_case">
                        <button class="logout-button" id="id_logout_button" onclick="logout()" data-logout-url="{% url 'logout' %}">
                            <div class="logout-div"><a class="logout_link">Log out</a></div>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    <button id="refreshButton" data-refresh-url="{% url 'refresh' %}" hidden>Refresh</button>
    <button class="logout-button" id="id_logout_button_o" onclick="logout()" data-logout-url="{% url 'logout' %}" data-login-url="{% url 'login' %}" hidden>lo
    </button>