{% load static %}
<link rel="stylesheet" href="{% static 'css/header.css' %}">
<link rel="stylesheet" href="{% static 'css/footer.css' %}">
<link rel="stylesheet" href="{% static 'css/logo_txt.css' %}">
<script src="{% static 'js/token_refreshing.js' %}"></script>

<script src="{% static 'js/message_bar.js' %}"></script>
<script src="{% static 'js/footer.js' %}"></script>
<script src="{% static 'js/timer.js' %}"></script>
<script src="{% static 'js/profile_picture.js' %}"></script>



<link rel="stylesheet" href="{% static 'css/message_bar.css' %}">